{% extends "base.html" %}
{% block title %}T.T.G Network - Gestion École Page d'accueille{% endblock %}
{% block content %}
    <section>
    <hr>
    <h2>Bienvenu(e)</h2>
    <p>
        Nous sommes ravis de vous compter parmi nous. Votre présence ici est bien plus qu’une simple visite — c’est une marque de confiance que nous apprécions profondément.
        Sachez que vous êtes au bon endroit. Nous mettons tout en œuvre pour vous offrir une expérience de qualité, des services fiables, et un accompagnement à la hauteur de vos attentes.
        Merci sincèrement pour votre confiance. C’est elle qui nous motive à donner le meilleur, chaque jour, pour vous satisfaire.
        L’avenir s’annonce prometteur, et nous sommes fiers de le construire avec vous. Soyez assuré(e) que nous serons toujours là pour vous accompagner, vous écouter, et vous offrir le meilleur.
        Encore une fois, bienvenue et merci. Le meilleur reste à venir !
    </p>
</section>
{% endblock %}