<!-- templates/liste_emargements.html -->
{% extends "base.html" %}
{% block title %}T.T.G Network - Les emargements{% endblock %}
{% block content %}
  <hr>
  <section>
      <h2>Liste des Emargements</h2>
  <ul>
    <table class="table">
        <thead>
          <th>Formateur</th>
          <th>Date</th>
          <th>Heure</th>
          <th>Actions</th>
        </thead>
        {% for emargement in emargements %}
        <tbody>
          <tr>
            <td>{{ emargement.formateur }}</td>
            <td> {{ emargement.date }}</td>
            <td> {{ emargement.heure_cours }}</td>
            <td>
              <a href="#"><button>Details</button></a>
              <a href="#"><button>modifier</button></a>
            </td>
          </tr>
          {% empty %}
            <tr>
              <td colspan="6">Aucun enregistrement trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          ...
        </tfoot>
    </table>
  </ul>
  </section>

 <section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-4 ftco-animate">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url('static/images/image_1.jpg');">
          </a>
          <div class="text d-block">
           <div class="meta">
            <p>
             <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
             <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
             <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
           </p>
         </div>
         <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
         <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
       </div>
     </div>
   </div>

   <div class="col-lg-4 ftco-animate">
    <div class="blog-entry">
      <a href="blog-single.html" class="block-20" style="background-image: url('static/images/image_2.jpg');">
      </a>
      <div class="text d-block">
       <div class="meta">
        <p>
         <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
         <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
         <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
       </p>
     </div>
     <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
     <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
   </div>
 </div>
</div>
<div class="col-lg-4 ftco-animate">
  <div class="blog-entry">
    <a href="blog-single.html" class="block-20" style="background-image: url('static/images/image_3.jpg');">
    </a>
    <div class="text d-block">
     <div class="meta">
      <p>
       <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
       <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
       <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
     </p>
   </div>
   <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
   <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
 </div>
</div>
</div>
<div class="col-lg-4 ftco-animate">
  <div class="blog-entry">
    <a href="blog-single.html" class="block-20" style="background-image: url('static/images/image_4.jpg');">
    </a>
    <div class="text d-block">
     <div class="meta">
      <p>
       <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
       <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
       <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
     </p>
   </div>
   <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
   <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
 </div>
</div>
</div>

<div class="col-lg-4 ftco-animate">
  <div class="blog-entry">
    <a href="blog-single.html" class="block-20" style="background-image: url('static/images/image_5.jpg');">
    </a>
    <div class="text d-block">
     <div class="meta">
      <p>
       <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
       <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
       <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
     </p>
   </div>
   <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
   <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
 </div>
</div>
</div>
<div class="col-lg-4 ftco-animate">
  <div class="blog-entry">
    <a href="blog-single.html" class="block-20" style="background-image: url('static/images/image_6.jpg');">
    </a>
    <div class="text d-block">
     <div class="meta">
      <p>
       <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
       <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
       <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
     </p>
   </div>
   <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
   <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
 </div>
</div>
</div>
</div>
<div class="row mt-5">
  <div class="col text-center">
    <div class="block-27">
      <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</section>
{% endblock %}
