section {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#base{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}

table{
    width: 100%;
    text-align:justify;
}

tr{
    text-align: justify;
}

a:hover{
    background: white;
    font-size: 250px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#ftco-nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: end;
        content: '';
        display: block;
        width: 60%;
        height: 4px;
        margin: 8px auto 0;
        border-radius: 2px;
}